@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    /* text-transform: capitalize; */
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
html{
    overflow-x: hidden;
    font-size: 62.5%;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
background: #eee;
}
html::-webkit-scrollbar-thumb{
/* background: #eee;
 */background: #0984e3;
}
body{
    background: #eee;
}
.header{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    background: #0984e3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 9%;
}
.header .logo{
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}
.header .logo i{
    color: gold;
}
.header .search-form{
    border-radius: 5rem;
    height: 5rem;
    width:50rem;
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
}
.header .search-form input{
    width:100%;
    padding-right: 1rem;
    font-size: 1.7rem;
    text-transform: none;
    color: #666;
}
.header .search-form label{
    font-size: 2rem;
    color: #666;
    cursor: pointer;
}
.header .search-form label:hover{
    color: #0984e3;
}
.header .icons a,
.header .icons div{
    font-size: 2.5rem;
    margin-left: 2rem;
    color: #fff;
    cursor: pointer;
}
.header .icons a:hover,
.header .icons div:hover{
    color: gold;
}
#search-btn{
    display: none;
}
.side-bar{
    position: fixed;
    top:0;
    left:-110%;
    height: 100%;
    width:30rem;
    background: #fff;
    z-index: 10000;
   
}
.side-bar .active{
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
}
.side-bar #close-side-bar {
    position: absolute;
    top:1rem;
    right:2rem;
    font-size: 4rem;
    cursor: pointer;
    color: #666;
}
.side-bar #close-side-bar:hover{
    transform: rotate(90deg);
    color: #333;
}
.user{
    padding: 2rem;
    background: #eee;
    text-align: center;
}
.side-bar .user img{
    height: 17rem;
    width:17rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: .5rem;
}
.side-bar .user h3{
    padding: .5rem 0;
    font-size: 1.8rem;
    color: #666;
}
.side-bar .user a{
    font-size: 1.5rem;
    color:#0984e3;
}
.side-bar .user a:hover{
    color: #333;
}
.side-bar .navbar{
    padding-top: 1rem;
}
.side-bar .navbar a{
    display: block;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    color: #666;
}
.side-bar .navbar a:hover{
    color: #0984e3;
}
.side-bar .navbar a:hover i{
    padding-right: 2rem;
}
.side-bar .navbar a i{
    padding-right: .5rem;
}
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
 }
 @media (max-width: 768px)
 {
    #search-btn {
        display: inline-block;
    }
    .header .search-form {
        position: absolute;
        top:99%;
        left:0;
        right:0;
        width:100%;
        border-radius: 0;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        height: 6rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
 }
 @media(max-width: 450px){
    html {
        font-size: 50%;
    }
    .header {
        justify-content: center;

    }
    .header .logo {
        display: none;
    }
 }

